# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend/hunt_backend/*     # Ignore everything in dir
!/backend/hunt_backend/app  # Don't ignore subdir
!/backend/hunt_backend/app/** # Don't ignore files in subdir/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



**/__pycache__/

*.db
*.def
*.dll
*.sh
package-lock.json
.env